<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<!--<title>{{title}}</title>-->

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="fragment" content="!" />
	<base href="/"/>


	<!--Application CSS Files-->
	<!--{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}-->
	<link rel="stylesheet" href="dist/core.css  ">
	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body >




<section class="content">
	<section class="container">
		<div id="mount-node"></div>
	</section>
</section>

<!--Embedding The User Object-->
<script type="text/javascript">
//	var user = {{ user | json | safe }};
</script>

<!--Load The Socket.io File-->
<!--<script type="text/javascript" src="/socket.io/socket.io.js"></script>-->
<!--<script type="text/javascript" src="/js/test.js"></script>-->
<script type="text/javascript" src="/dist/application.js"></script>
<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>

<!--{% if process.env.NODE_ENV === 'development' %}-->
<!--Livereload script rendered -->

<!--{% endif %}-->

<!-- Google Analytics -->
<!--<script>-->

	<!--ga('send', 'pageview');-->
<!--</script>-->
</body>

</html>
